* {
  box-sizing: border-box;
}
/* 선택자 */
/* html 에 적용된 속성이 있으면 디브에 씌어지고 계속 이어서 덮어 씌어짐     */
#header-center {
  margin: 0 auto;
  width: 1080px;
  /* 픽셀은 상대적인 개념 ->> 모니터의 개념을 알아야 한다. */
}
/* h1 직접 안 찾고 부모를 통해 찾을 수도 있음 =자식- 선택자*/
#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background-image: url(sp_main.png); /* 여기 채우기@@@@@@@@@@@@@@@@@@@@@@@ */
  background-position: -4px -4px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
#header-search a {
  text-decoration: none;
}
/*   #header-center h1 {
      자손 선택자
}
*/
#header-search h1 span {
  display: none;
}
#header-search h2 {
  display: none;
}
#header-search fieldset {
  width: 521px;
  height: 49px;
  display: inline-block;
  margin-left: 20px;
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d;
  vertical-align: middle;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
}
#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
}
#search-iamge {
  background-image: url(sp_main.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
}
